.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 300px;
    border-color: black;
    border-radius: 10%;
    border-width: 2px;
    background-color: aliceblue;
}

.display {
    display: flex;
    font-size: larger;
    width: 80%;
    height: 25px;
    align-items: center;
    background-color: wheat;
    margin-bottom: 3px;
}

.buttons {
    display: grid;
    width: 80%;
    height: 80%;
    grid-template-columns: repeat(4);
    grid-template-rows: repeat(5);
    gap: 3px 3px;
}

#clear {
    grid-column-start: 1;
    grid-column-end: 4;
}

#equals {
    grid-column-start: 2;
    grid-column-end: 5;    
}

#zero {
    grid-column-start: 1;
    grid-column-end: 1;   
}